<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <img src="/images/logo.png" id = "logo" class="d-inline-block align-top" alt="MeowWoofLogo">
    <a  class="navbar-brand" href="/home">Home</a>
    <a  class="navbar-brand" href="/cats">cats </a>
    <a  class="navbar-brand" href="/dogs">dogs</a> 
    <a href="/cats/new">Add cat</a>
    <a href="/dogs/new">Add Dog</a>
</nav>