
<nav>
        <a href="/about"><img id="logo" src="/images/logo.png"></a>
        <div id="nav-menu">
        
                <div class = "catDiv"> 
                        <a href="/cats" class="nav-item catDropdown">cats</a>
                        <a  class="catDropdown-content" href="/cats/new">add</a>
                </div>
                <div class="dogDiv">
                        <a href="/dogs" class="nav-item dogDropdown">dogs</a>
                        <br>
                        <a class="dogDropdown-content" href="/dogs/new">add</a>
                 </div>
                 <a href="/user/login" class="nav-item">login</a>
                 <a href="/user/new" class="nav-item">sign up</a>
        </div>
</nav>
