
<nav>
        <a href="/about"><img id="logo" src="/images/logo.png"></a>
        <div id="nav-menu">
                <a href="/about" class="nav-item aboutDropdown">about</a> 
                <a href="/cats" class="nav-item catDropdown">cats</a>
                <a href="/dogs" class="nav-item dogDropdown">dogs</a>
                <a  class="catDropdown-content" href="/cats/new">create</a>
                <a  class="dogDropdown-content" href="/dogs/new">create</a>
        </div>
</nav>
