
<nav>
       <a href="/index"><img id="logo" src="/images/logo.png"  alt="MeowWoofLogo"></a>
        <a href="/new">sign up</a>
        <a href="/login">login</a>
        <a href="/cats">cats </a>
        <a href="/dogs">dogs</a>
</nav>

