
<nav>
        <a href="/about"><img id="logo" src="/images/logo.png"></a>
        <div id="nav-menu">
                <a href="/about" class="nav-item">about</a> 
                <a href="/cats" class="nav-item">cats </a>
                <a href="/dogs" class="nav-item">dogs</a>
        </div>
</nav>

