<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/footer-styles.css">
        <link rel="stylesheet" type="text/css" href="/static/navbar-styles.css">
        <link rel="stylesheet" type="text/css" href="/static/about-styles.css">
</head>
<body>
<%- include ../views/partials/_navbar.ejs %>
        <div class="caption-container">
        
                <img src="images/index-cat-about.jpg">
                <div id="caption">
                        <p>Meow Woof Rescue Mission was created to bring fostered animals into view in hopes of
                        finding their forever home. If you have fostered pets available for adoption 
                        please add their details. If you're looking for a pet to adopt, browse our 
                        listings.</p>
                        <button><a href="/cats">cats</a></button><button><a href="/dogs">dogs</a></button>
                </div>
        </div>        
<%- include ../views/partials/_footer.ejs %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$(".catDropdown-content").css("display","none")
            $(".dogDropdown-content").css("display","none")
            console.log($(".dropdown"))

$(".catDiv").mouseover(function(){
            console.log("Mouse on")
            $(".catDropdown-content").css("display","inline-block");
            $(".dogDropdown-content").css("display","none");
})

$(".catDiv").mouseout(function(){
            console.log("Mouse off")
            $(".catDropdown-content").css("display","none");
})

$(".dogDiv").mouseover(function(){
            console.log("Mouse on")
            $(".dogDropdown-content").css("display","inline-block");
            $(".catDropdown-content").css("display","none");
})

$(".dogDiv").mouseout(function(){
            console.log("Mouse off")
            $(".dogDropdown-content").css("display","none");
})
</script>
</body>
</html>
