<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/static/about-styles.css">
</head>
<body>
<%- include ../views/partials/_navbar.ejs %>
        <div class="container">
                <img src="images/index-cat-about.jpg">
                <div id="caption">
                <p>Meow Woof was created to bring <br>fostered animals into view in hopes <br>of
                finding their forever home. <br>If you have fostered pets available <br>for adoption 
                please add their details. <br>If you're looking for a pet to adopt, <br>browse our 
                listings.</p>
                <button><a href="/cats">cats</a></button><button><a href="/dogs">dogs</a></button>
                </div>
        </div>        

</body>
</html>
