.caption-container {
    position: relative;
}
img {
    position: relative;
    left: -20px;
    width: 100%;
}
#caption {
    position: absolute;
    width: 45%;
    height: 80%;
    right: 10%;
    top: 17%;
}
p {
    font-size: 2vw;
    color: #797474
}

button {
    background-image: linear-gradient(to right, orange , #ff9966);
    color: black;
    border-radius: 7px;
    border-color: orange;
    width: 105px;
    margin-top: 18px;
    margin-right: 10px;
}
button a {
    margin: 0 auto;
    color: black;
}
button a:hover {
    color: black;
    text-decoration: none;
}
