nav {
    margin-bottom: 2rem;
    position: relative;
}
#logo {
    width: 30%;
    margin-top: 3%;
    margin-left: 7%;
}
#nav-menu {
    position: absolute;
    bottom: 14%;
    right: 13%;
}
.nav-item {
    color: #797474;
    margin-right: 30px;
    font-size: 1.75vw;
}
.nav-item a:hover{
    color: #fdb0a1;
    text-decoration: none;
}