nav {
    margin-bottom: 2rem;
    position: relative;
}
#logo {
    width: 30%;
    margin-top: 3%;
    margin-left: 7%;
}
#nav-menu {
    position: absolute;
    bottom: 14%;
    right: 13%;
}
.nav-item {
    color: #797474;
    margin-right: 30px;
    font-size: 1.75vw;
}
a.nav-item:hover {
    color: #fdb0a1;
    text-decoration: none;
}

.catDropdown-content {
    display:inline-block;
    color: #797474;
    position: absolute;
   text-decoration:none;
   font-size: 1.5vw;
  }
  .dogDropdown-content {
    display:inline-block;
    color: #797474;
    position: absolute;
   text-decoration:none;
   font-size: 1.5vw;
  }
  .dogDropdown-content:hover{
    color: #fdb0a1;
    text-decoration: none;
  }
  .catDropdown-content:hover{
    color: #fdb0a1;
    text-decoration: none;
  }
  /* .dropdown:hover .dropdown-content{
    display: block;
} */
.dogDiv{
    display:inline-block;
}
.catDiv{
    display:inline-block;
}
/* .dogDropdown-content{
    display:inline-block;
} */


 /* *{
    border-color: green;
    border-style: solid;
}  */