<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Cat</title>
</head>
<body>
<%- include ../partials/_navbar.ejs %>
    <h1>Let's add a new cat for adoption</h1>
    <form action="/cats" method="POST">
        <label for="name">name:</label>
            <input type="text" name="name">
        <label for="age">age:</label>
            <input type="text" name="age">   
        <label for="gender">gender:</label> 
        <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <label for="description">description:</label>
            <textarea type="text" name="description"></textarea>
        <label for="image">image:</label>
            <input type="text" name="image">
        <input type="submit" value="create">            
    </form>
    <%- include ../partials/_footer.ejs %>
</body>
</html>